# Created by .ignore support plugin (hsz.mobi)
/.idea
/vendor
/vendor-bin/**/vendor/
/tests/.env
/tests/log
/.php_cs.cache
/.phinx
/yarn-error.log
/.phpunit.result.cache
/composer.lock
/vendor-bin/**/composer.lock